<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Reservation System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <h1>Hotel Reservation System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-book"></i> Book a Room</a></li>
                <li><a href="{% url 'availableroom' %}"><i class="fas fa-door-open"></i> Available Rooms</a></li>
                <li><a href="{% url 'contact' %}"><i class="fas fa-envelope"></i> Contact Us</a></li>
                <li><a href="{% url 'checkout' %}"><i class="fas fa-sign-out-alt"></i> Check out</a></li>
                <li><a href="{% url 'checkreservation' %}"><i class="fas fa-search"></i> Check Reservation</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Hotel Reservation System. All rights reserved.</p>
    </footer>
</body>
</html>
